.panel {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    max-height: 500px; /* Adjust height as needed */
    width: 300px; /* Adjust width as needed */
    position: fixed;
    left: 12rem;
    overflow-x: hidden;
}

.header {
    direction: rtl;
}

.content {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
}

/* Media query for mobile view */
@media (max-width: 600px) {
    .panel {
        position:relative;
        width: 100%; /* Full width */
        max-height: none; /* Let it grow based on content */
        height: auto; /* Auto height */
        bottom: 0; /* Stick to the bottom */
        left: 0; /* Full width */
        border-radius: 0; /* Remove border radius for full width */
    }

    .content {
        max-height: 200px; /* Adjust max height as needed for mobile */
    }
}
