.audio-container {
  display: flex;
  flex-direction: row-reverse;
  place-content: center;
  direction: rtl;
}

.lesson-content {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .lesson-content {
    width: 100%;
  }
}