.record-container {
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    direction: rtl;
}

.words-container {
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.correct-word {
    margin-left: 3px;
    color: green;
}

.wrong-word {
    margin-left: 3px;
    color: red;
}
