.record-container {
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    direction: rtl;
}

.words-container {
    direction: rtl;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 10px 0;
}

.correct-word {
    color: green;
}

.wrong-word {
    color: red;
}
